<?xml version="1.0"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <listeners>

        <!-- Secure connection -->
        <tls-tcp-listener>

            <port>8883</port>
            <bind-address>0.0.0.0</bind-address>
            <name>my-secure-tcp-listener</name>
            <tls>

                <keystore>
                    <!-- Configuring the path to the key store -->
                    <path>/opt/hivemq/store.jks</path>
                    <!-- The password of the key store -->
                    <password>changeme</password>
                    <!-- The password of the private key -->
                    <private-key-password>changeme</private-key-password>
                </keystore>

            </tls>
        </tls-tcp-listener>

    </listeners>

    <security>

        <!-- Denie the use of empty client ids -->
        <allow-empty-client-id>
            <enabled>false</enabled>
        </allow-empty-client-id>

        <!-- Enable validation for UTF-8 PUBLISH payloads -->
        <payload-format-validation>
            <enabled>true</enabled>
        </payload-format-validation>

	<!-- Enables the UTF-8 validation of topic names and client ids -->
        <utf8-validation>
            <enabled>true</enabled>
        </utf8-validation>

    </security>

</hivemq>
